@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

$primary: #094e8b;
$info: #053d48;

$headings-font-family: 'Mulish', sans-serif;

@import "../../node_modules/bootstrap/scss/bootstrap";